# Al compilar el código en modo developer generamos archivos
# en el directorio fuente que no queremos importar a git


# Archivos Python #
###################
# directorio de trabajo de setup.py 
build
# directorio dist de setup.py
dist
# directorio eggs (generado por setuptools)
*.eggs
labugr.egg-info
# Archivo generado cuando instalamos version developer
__config__.py
# Imformación de la librería
*.so
.directory
#MANIFEST generado por distutils
MANIFEST
# Archivos c generados en fftpack 
dct.c
dst.c
convolvemodule.c
_fftpackmodule.c
# Archivos c generados en integrate (cython)
_ccallback_c.c
# Archivos c generados en signal
lfilter.c
correlate_nd.c
# Archivo cache generado por cython
cythonize.dat 
# Archivos c generados en systems 
_comb.c
_csparsetools.c
dst.c
convolvemodule.c
_fftpackmodule.c
# Archivos c generados en generate_sparsetools.py
bsr_impl.h
csc_impl.h
crs_impl.h
other_impl.h
sparsetools_impl.h

# Archivos Cache #
##################
# codigo compilado de los modulos
*.pyc
# codigo compilado optimizado
*.pyo
# archivo dll generado en windows 
*.pyd
# resultado de pytests
.cache
# generados en systems
.DS_Store


# Credenciales pipy #
#####################
pipyPass.txt

# Localizacion atlas #
######################
site.cfg
