# Al compilar el código en modo developer generamos archivos
# en el directorio fuente que no queremos importar a git


# Archivos Python #
###################
# directorio de trabajo de setup.py 
build
# directorio dist de setup.py
dist
# directorio eggs (generado por setuptools)
*.eggs
labugr.egg-info
# Archivo generado cuando instalamos version developer
__config__.py
#Imformación de la librería
*.so
.directory
# Archivos c generados en fftpack 
dct.c
dst.c
convolvemodule.c
_fftpackmodule.c

# Archivos Cache #
##################
# codigo compilado de los modulos
*.pyc
# codigo compilado optimizado
*.pyo
# archivo dll generado en windows 
*.pyd
# resultado de pytests
.cache

# Credenciales pipy #
#####################
pipyPass.txt